* {
	box-sizing: border-box;
}

body {
	background-color: #333;
	padding: 50px;
}
p {
	font-size: 50px;
	color: #fff;
	margin: 20px 0;
}

.block {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.java-script {
	font-size: 100px;
	color: #fff;
	margin: 0;
	margin-bottom: 50px;
}

.java-script-desc {
	font-size: 50px;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
	font-weight: 700;
}
