@keyframes glowing {
	0% {
		box-shadow: 0 0 60px #46ff33;
	}
	50% {
		box-shadow: 0 0 20px #46ff33;
	}
	100% {
		box-shadow: 0 0 60px #46ff33;
	}
}

@media (max-width: 600px) {
	.hex-code {
		font-size: 70px;
	}
	.btn {
		padding: 0 40px;
		height: 60px;
	}
}

@media (max-width: 350px) {
	.hex-code {
		font-size: 50px;
	}
}
